############################################
# MAVEN
############################################
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

############################################
# SPRING TOOL SUITE (STS)
############################################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

############################################
# INTELLIJ IDEA
############################################
.idea/
*.iws
*.iml
*.ipr

############################################
# NETBEANS
############################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

############################################
# VS CODE
############################################
.vscode/

############################################
# OS FILES
############################################
.DS_Store
Thumbs.db

############################################
# LOG FILES
############################################
*.log

############################################
# DATABASE FILES (H2 local)
############################################
*.mv.db
*.trace.db

############################################
# ENVIRONMENT FILES
############################################
.env
